In [131]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc,  font_manager
import matplotlib
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
fontname = "C:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=fontname).get_name()
rc('font', family=font_name)

In [160]:
get_data = pd.read_csv('data/TEMP/경락가격/오이/오이 월별 총거래(정제).csv', index_col=None)
get_data

        Date    총거래물량      총거래금액       평균거래금액  시장
0    2020-01   2720.0    3808000  1400.000000  서울
1    2020-02   1340.0    3515000  2623.134328  서울
2    2020-03   1300.0    1400000  1076.923077  서울
3    2020-04    840.0     705500   839.880952  서울
4    2020-05   4320.0    2747000   635.879630  서울
..       ...      ...        ...          ...  ..
208  2023-04  17880.0   44668900  2498.260626  광주
209  2023-05  37490.0   74338700  1982.894105  광주
210  2023-06  37475.0   51630720  1377.737692  광주
211  2023-07  99846.0  131826220  1320.295455  광주
212  2023-08  44068.0   54659580  1240.346283  광주

[213 rows x 5 columns]

In [161]:
#내림차순 정렬(인덱스 기준)
# get_data = get_data.sort_index(ascending=False)
# get_data

        Date    총거래물량      총거래금액       평균거래금액  시장
0    2020-01   2720.0    3808000  1400.000000  서울
1    2020-02   1340.0    3515000  2623.134328  서울
2    2020-03   1300.0    1400000  1076.923077  서울
3    2020-04    840.0     705500   839.880952  서울
4    2020-05   4320.0    2747000   635.879630  서울
..       ...      ...        ...          ...  ..
208  2023-04  17880.0   44668900  2498.260626  광주
209  2023-05  37490.0   74338700  1982.894105  광주
210  2023-06  37475.0   51630720  1377.737692  광주
211  2023-07  99846.0  131826220  1320.295455  광주
212  2023-08  44068.0   54659580  1240.346283  광주

[213 rows x 5 columns]

In [162]:
seoul_data = get_data[get_data['시장'].str.contains('서울')]
busan_data = get_data[get_data['시장'].str.contains('부산')]
daegu_data = get_data[get_data['시장'].str.contains('대구')]
daejeon_data = get_data[get_data['시장'].str.contains('대전')]
gwangju_data = get_data[get_data['시장'].str.contains('광주')]

## 인덱스를 열로 변환 (reset_index)

DataFrame.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')

- 개요
reset_index메서드는 설정 인덱스를 제거하고 기본 인덱스(0,1,2, ... , n)으로 변경하는 메서드 입니다.

- 기본 사용법  

self.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')  
level : Multi Index의 경우 제거할 인덱스의 레벨을 설정할수 있습니다. 기본적으로 모든 레벨입니다.  
drop : 제거한 인덱스를 열에 추가할지 여부입니다. 기본값은 False로 제거된 인덱스는 열로 변환됩니다.  
inplace : pandas 공통 인수로, 원본을 변경할지 여부 입니다.  
col_level / col_fill : Multi Index의 경우 제거된 인덱스를 열에 추가할 때 레벨과 열의 이름을 설정할 수 있습니다.  
col_level을 통해 레벨을 설정하고, col_fill을통해 해당 열의 이름을 정합니다.

In [163]:
busan_data.reset_index(drop=True, inplace=True)
daegu_data.reset_index(drop=True, inplace=True)
daejeon_data.reset_index(drop=True, inplace=True)
gwangju_data.reset_index(drop=True, inplace=True)
seoul_data

       Date     총거래물량      총거래금액       평균거래금액  시장
0   2020-01    2720.0    3808000  1400.000000  서울
1   2020-02    1340.0    3515000  2623.134328  서울
2   2020-03    1300.0    1400000  1076.923077  서울
3   2020-04     840.0     705500   839.880952  서울
4   2020-05    4320.0    2747000   635.879630  서울
5   2020-06  122180.0  154551500  1264.949255  서울
6   2020-07  187830.0  166273500   885.233988  서울
7   2020-08  153645.0  309458000  2014.110449  서울
8   2020-09  202482.0  446301000  2204.151480  서울
9   2020-10  120148.0   90803000   755.759563  서울
10  2020-11   14870.0   17918500  1205.010087  서울
11  2020-12     330.0     399000  1209.090909  서울
12  2021-02     230.0     211000   917.391304  서울
13  2021-03    1345.0    2241500  1666.542751  서울
14  2021-04    4421.0    9596800  2170.730604  서울
15  2021-05   30569.0   58597800  1916.902745  서울
16  2021-06  142651.0  189035900  1325.163511  서울
17  2021-07  278929.0  323522000  1159.872226  서울
18  2021-08  255150.0  310796500  1218.093278  서울
19  2021-09  261648.0  377483000  1442.713111  서울
20  2021-10   81372.0  139907500  1719.356781  서울
21  2021-11   22565.0   75779500  3358.276091  서울
22  2021-12    2870.0    6287000  2190.592334  서울
23  2022-01   13090.0   27531000  2103.208556  서울
24  2022-02   10530.0   24209500  2299.097816  서울
25  2022-03   14140.0   25811000  1825.388967  서울
26  2022-04   15530.0   27518500  1771.957502  서울
27  2022-05   24620.0   33193500  1348.233144  서울
28  2022-06   66580.0   90292000  1356.142986  서울
29  2022-07  140685.0  347148500  2467.558730  서울
30  2022-08  178810.0  445379000  2490.794698  서울
31  2022-09  269573.0  392509500  1456.041592  서울
32  2022-10  131440.0  173065500  1316.688223  서울
33  2022-11   21050.0   21267000  1010.308789  서울
34  2023-01    3430.0    9907000  2888.338192  서울
35  2023-02    1160.0    3318000  2860.344828  서울
36  2023-03     857.0    2386000  2784.130688  서울
37  2023-04      70.0     126000  1800.000000  서울
38  2023-05   23660.0   32051000  1354.649197  서울
39  2023-06   96620.0  103810000  1074.415235  서울
40  2023-07  130450.0  239770000  1838.022231  서울
41  2023-08   59818.0   91603000  1531.361797  서울

In [164]:
seoul_date = seoul_data['Date'].unique()
print(seoul_date)
print(len(seoul_date))
busan_date = busan_data['Date'].unique()
print(busan_date)
print(len(busan_date))
daegu_date = daegu_data['Date'].unique()
print(daegu_date)
print(len(daegu_date))
daejeon_date = daejeon_data['Date'].unique()
print(daejeon_date)
print(len(daejeon_date))
gwangju_date = gwangju_data['Date'].unique()
print(gwangju_date)
print(len(gwangju_date))

['2020-01' '2020-02' '2020-03' '2020-04' '2020-05' '2020-06' '2020-07'
 '2020-08' '2020-09' '2020-10' '2020-11' '2020-12' '2021-02' '2021-03'
 '2021-04' '2021-05' '2021-06' '2021-07' '2021-08' '2021-09' '2021-10'
 '2021-11' '2021-12' '2022-01' '2022-02' '2022-03' '2022-04' '2022-05'
 '2022-06' '2022-07' '2022-08' '2022-09' '2022-10' '2022-11' '2023-01'
 '2023-02' '2023-03' '2023-04' '2023-05' '2023-06' '2023-07' '2023-08']
42
['2020-01' '2020-02' '2020-03' '2020-04' '2020-05' '2020-06' '2020-07'
 '2020-08' '2020-09' '2020-10' '2020-11' '2020-12' '2021-01' '2021-02'
 '2021-03' '2021-04' '2021-05' '2021-06' '2021-07' '2021-08' '2021-09'
 '2021-10' '2021-11' '2021-12' '2022-01' '2022-02' '2022-03' '2022-04'
 '2022-05' '2022-06' '2022-07' '2022-08' '2022-09' '2022-10' '2022-11'
 '2022-12' '2023-01' '2023-02' '2023-03' '2023-04' '2023-05' '2023-06'
 '2023-07' '2023-08']
44
['2020-01' '2020-02' '2020-03' '2020-04' '2020-05' '2020-06' '2020-07'
 '2020-08' '2020-09' '2020-10' '2020-11' '2020-12' '2021-01' '2021-02'
 '2021-03' '2021-04' '2021-05' '2021-06' '2021-07' '2021-08' '2021-09'
 '2021-10' '2021-11' '2021-12' '2022-01' '2022-02' '2022-03' '2022-04'
 '2022-05' '2022-06' '2022-07' '2022-08' '2022-09' '2022-10' '2022-11'
 '2022-12' '2023-01' '2023-02' '2023-03' '2023-04' '2023-05' '2023-06'
 '2023-07' '2023-08']
44
['2020-03' '2020-04' '2020-05' '2020-06' '2020-07' '2020-08' '2020-09'
 '2020-10' '2020-11' '2020-12' '2021-01' '2021-02' '2021-03' '2021-04'
 '2021-05' '2021-06' '2021-07' '2021-08' '2021-09' '2021-10' '2021-11'
 '2022-01' '2022-02' '2022-03' '2022-04' '2022-05' '2022-06' '2022-07'
 '2022-08' '2022-09' '2022-10' '2022-11' '2022-12' '2023-02' '2023-03'
 '2023-04' '2023-05' '2023-06' '2023-07' '2023-08']
40
['2020-01' '2020-02' '2020-03' '2020-04' '2020-05' '2020-06' '2020-07'
 '2020-08' '2020-09' '2020-10' '2020-11' '2020-12' '2021-01' '2021-02'
 '2021-03' '2021-04' '2021-05' '2021-06' '2021-07' '2021-08' '2021-09'
 '2021-10' '2021-11' '2021-12' '2022-01' '2022-02' '2022-03' '2022-04'
 '2022-05' '2022-06' '2022-07' '2022-08' '2022-09' '2022-10' '2022-11'
 '2022-12' '2023-02' '2023-03' '2023-04' '2023-05' '2023-06' '2023-07'
 '2023-08']
43

In [165]:
std_date = np.array(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
       '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12',
       '2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06',
       '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12',
       '2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06',
       '2022-07', '2022-08', '2022-09', '2022-10', '2022-11', '2022-12',
       '2023-01', '2023-02', '2023-03', '2023-04', '2023-05', '2023-06',
       '2023-07', '2023-08'],dtype=object)
std_date

array(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
       '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12',
       '2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06',
       '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12',
       '2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06',
       '2022-07', '2022-08', '2022-09', '2022-10', '2022-11', '2022-12',
       '2023-01', '2023-02', '2023-03', '2023-04', '2023-05', '2023-06',
       '2023-07', '2023-08'], dtype=object)

In [148]:
# for i in std_date:
#     if(data['Date'].iloc[index]!=str(i)):
#         new_row = pd.DataFrame([[i, 0.0, 0, 0.0, '서울']], columns = data.columns)
#         data=pd.concat([data.iloc[:index], new_row, data.iloc[index:]], ignore_index = True)
#         index+=1

In [149]:
seoul_data['Date'].iloc[12]=='2021-02'

True

In [172]:
all_list = [seoul_data,busan_data,daegu_data,daejeon_data,gwangju_data]
result_data=pd.DataFrame(columns=seoul_data.columns)
for data in all_list:
    index=0
    loc=data['시장'].iloc[index]
    print(loc + "지역 데이터 확인~~~")
    for i in std_date:
        # print(data['Date'].iloc[index] , str(i))
        if(data['Date'].iloc[index]!=str(i)):
            # print(index)
            new_row = pd.DataFrame([[i, 0.0, 0, 0.0, loc]], columns = data.columns)
            # print(new_row)
            data=pd.concat([data.iloc[:index], new_row, data.iloc[index:]], ignore_index = True)
        index+=1
    # print(data)
    result_data=pd.concat([result_data,data],ignore_index=True)
    print(result_data)
    print(len(result_data))

서울지역 데이터 확인~~~
       Date     총거래물량      총거래금액       평균거래금액  시장
0   2020-01    2720.0    3808000  1400.000000  서울
1   2020-02    1340.0    3515000  2623.134328  서울
2   2020-03    1300.0    1400000  1076.923077  서울
3   2020-04     840.0     705500   839.880952  서울
4   2020-05    4320.0    2747000   635.879630  서울
5   2020-06  122180.0  154551500  1264.949255  서울
6   2020-07  187830.0  166273500   885.233988  서울
7   2020-08  153645.0  309458000  2014.110449  서울
8   2020-09  202482.0  446301000  2204.151480  서울
9   2020-10  120148.0   90803000   755.759563  서울
10  2020-11   14870.0   17918500  1205.010087  서울
11  2020-12     330.0     399000  1209.090909  서울
12  2021-01       0.0          0     0.000000  서울
13  2021-02     230.0     211000   917.391304  서울
14  2021-03    1345.0    2241500  1666.542751  서울
15  2021-04    4421.0    9596800  2170.730604  서울
16  2021-05   30569.0   58597800  1916.902745  서울
17  2021-06  142651.0  189035900  1325.163511  서울
18  2021-07  278929.0  323522000  1159.872226  서울
19  2021-08  255150.0  310796500  1218.093278  서울
20  2021-09  261648.0  377483000  1442.713111  서울
21  2021-10   81372.0  139907500  1719.356781  서울
22  2021-11   22565.0   75779500  3358.276091  서울
23  2021-12    2870.0    6287000  2190.592334  서울
24  2022-01   13090.0   27531000  2103.208556  서울
25  2022-02   10530.0   24209500  2299.097816  서울
26  2022-03   14140.0   25811000  1825.388967  서울
27  2022-04   15530.0   27518500  1771.957502  서울
28  2022-05   24620.0   33193500  1348.233144  서울
29  2022-06   66580.0   90292000  1356.142986  서울
30  2022-07  140685.0  347148500  2467.558730  서울
31  2022-08  178810.0  445379000  2490.794698  서울
32  2022-09  269573.0  392509500  1456.041592  서울
33  2022-10  131440.0  173065500  1316.688223  서울
34  2022-11   21050.0   21267000  1010.308789  서울
35  2022-12       0.0          0     0.000000  서울
36  2023-01    3430.0    9907000  2888.338192  서울
37  2023-02    1160.0    3318000  2860.344828  서울
38  2023-03     857.0    2386000  2784.130688  서울
39  2023-04      70.0     126000  1800.000000  서울
40  2023-05   23660.0   32051000  1354.649197  서울
41  2023-06   96620.0  103810000  1074.415235  서울
42  2023-07  130450.0  239770000  1838.022231  서울
43  2023-08   59818.0   91603000  1531.361797  서울
44
부산지역 데이터 확인~~~
       Date      총거래물량       총거래금액       평균거래금액  시장
0   2020-01     2720.0     3808000  1400.000000  서울
1   2020-02     1340.0     3515000  2623.134328  서울
2   2020-03     1300.0     1400000  1076.923077  서울
3   2020-04      840.0      705500   839.880952  서울
4   2020-05     4320.0     2747000   635.879630  서울
..      ...        ...         ...          ...  ..
83  2023-04  1090540.1  2174104900  1993.603812  부산
84  2023-05  1431614.4  1966951200  1373.939240  부산
85  2023-06  1396719.7  1781727600  1275.651514  부산
86  2023-07  1318353.1  2037195700  1545.258019  부산
87  2023-08   544861.4   820247700  1505.424499  부산

[88 rows x 5 columns]
88
대구지역 데이터 확인~~~
        Date      총거래물량       총거래금액       평균거래금액  시장
0    2020-01     2720.0     3808000  1400.000000  서울
1    2020-02     1340.0     3515000  2623.134328  서울
2    2020-03     1300.0     1400000  1076.923077  서울
3    2020-04      840.0      705500   839.880952  서울
4    2020-05     4320.0     2747000   635.879630  서울
..       ...        ...         ...          ...  ..
127  2023-04  1497508.0  3021924400  2017.968785  대구
128  2023-05  2287530.0  3083761400  1348.074736  대구
129  2023-06  2656008.0  3233615300  1217.471973  대구
130  2023-07  1989268.0  3405507100  1711.939819  대구
131  2023-08   815690.0  1437406500  1762.197036  대구

[132 rows x 5 columns]
132
대전지역 데이터 확인~~~
        Date    총거래물량     총거래금액       평균거래금액  시장
0    2020-01   2720.0   3808000  1400.000000  서울
1    2020-02   1340.0   3515000  2623.134328  서울
2    2020-03   1300.0   1400000  1076.923077  서울
3    2020-04    840.0    705500   839.880952  서울
4    2020-05   4320.0   2747000   635.879630  서울
..       ...      ...       ...          ...  ..
171  2023-04   3600.0   6820000  1894.444444  대전
172  2023-05  12510.0  14914800  1192.230216  대전
173  2023-06  38660.0  37119073   960.141568  대전
174  2023-07  47352.5  71571105  1511.453566  대전
175  2023-08  20070.0  26673700  1329.033383  대전

[176 rows x 5 columns]
176
광주지역 데이터 확인~~~
        Date    총거래물량      총거래금액       평균거래금액  시장
0    2020-01   2720.0    3808000  1400.000000  서울
1    2020-02   1340.0    3515000  2623.134328  서울
2    2020-03   1300.0    1400000  1076.923077  서울
3    2020-04    840.0     705500   839.880952  서울
4    2020-05   4320.0    2747000   635.879630  서울
..       ...      ...        ...          ...  ..
215  2023-04  17880.0   44668900  2498.260626  광주
216  2023-05  37490.0   74338700  1982.894105  광주
217  2023-06  37475.0   51630720  1377.737692  광주
218  2023-07  99846.0  131826220  1320.295455  광주
219  2023-08  44068.0   54659580  1240.346283  광주

[220 rows x 5 columns]
220

In [171]:
# 결과 데이터 병합 -실패 원인??
# result_data=pd.DataFrame(columns = seoul_data.columns)
# result_data=pd.concat(all_list,ignore_index=True)
# result_data

        Date    총거래물량      총거래금액       평균거래금액  시장
0    2020-01   2720.0    3808000  1400.000000  서울
1    2020-02   1340.0    3515000  2623.134328  서울
2    2020-03   1300.0    1400000  1076.923077  서울
3    2020-04    840.0     705500   839.880952  서울
4    2020-05   4320.0    2747000   635.879630  서울
..       ...      ...        ...          ...  ..
208  2023-04  17880.0   44668900  2498.260626  광주
209  2023-05  37490.0   74338700  1982.894105  광주
210  2023-06  37475.0   51630720  1377.737692  광주
211  2023-07  99846.0  131826220  1320.295455  광주
212  2023-08  44068.0   54659580  1240.346283  광주

[213 rows x 5 columns]

In [173]:

# 저장
result_data.to_csv('data/TEMP/경락가격/오이/오이 월별 총거래(정제).csv', index=False, encoding='UTF-8')

# 아래는 고민의 흔적

In [ ]:

# seoul_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    42 non-null     object
 1   총거래물량   42 non-null     float64
 2   총거래금액   42 non-null     int64
 3   평균거래금액  42 non-null     float64
 4   시장      42 non-null     object
dtypes: float64(2), int64(1), object(2)
memory usage: 2.0+ KB

In [ ]:
# # 특정 조건으로 행 조회하기

# seoul_data.loc[seoul_data['시장']=='서울',:]['Date']

0     2020-01
1     2020-02
2     2020-03
3     2020-04
4     2020-05
5     2020-06
6     2020-07
7     2020-08
8     2020-09
9     2020-10
10    2020-11
11    2020-12
12    2021-02
13    2021-03
14    2021-04
15    2021-05
16    2021-06
17    2021-07
18    2021-08
19    2021-09
20    2021-10
21    2021-11
22    2021-12
23    2022-01
24    2022-02
25    2022-03
26    2022-04
27    2022-05
28    2022-06
29    2022-07
30    2022-08
31    2022-09
32    2022-10
33    2022-11
34    2023-01
35    2023-02
36    2023-03
37    2023-04
38    2023-05
39    2023-06
40    2023-07
41    2023-08
Name: Date, dtype: object

In [ ]:
# #결측값 1개 행 추가해보기

# new_row = pd.DataFrame([['2021-01', 0.0, 0, 0.0, '서울']], columns = df.columns)

# new_df = pd.concat([df.iloc[:12], new_row, df.iloc[12:]], ignore_index = True)

# new_df.iloc[11:14]

NameError: name 'df' is not defined

In [ ]:
# #결측값 1개 행 추가해보기

# new_row = pd.DataFrame([['2022-12', 0.0, 0, 0.0, '서울']], columns = df.columns)

# new_df = pd.concat([new_df.iloc[:35], new_row, new_df.iloc[35:]], ignore_index = True)

# new_df.iloc[34:37]

       Date    총거래물량     총거래금액       평균거래금액  시장
34  2022-11  21050.0  21267000  1010.308789  서울
35  2022-12      0.0         0     0.000000  서울
36  2023-01   3430.0   9907000  2888.338192  서울

In [ ]:
# df = df.sort_values(by='Date')

In [ ]:
# df[df['Date'] == '2021-01']

In [ ]:
# print(len(df['Date'].unique()))
# print(df['Date'].unique())
# unique_date=df['Date'].unique()
# unique_date.sort()
# # unique_date=new_df['Date'].unique()
# print(unique_date)

44
['2020-01' '2020-02' '2020-03' '2020-04' '2020-05' '2020-06' '2020-07'
 '2020-08' '2020-09' '2020-10' '2020-11' '2020-12' '2021-02' '2021-03'
 '2021-04' '2021-05' '2021-06' '2021-07' '2021-08' '2021-09' '2021-10'
 '2021-11' '2021-12' '2022-01' '2022-02' '2022-03' '2022-04' '2022-05'
 '2022-06' '2022-07' '2022-08' '2022-09' '2022-10' '2022-11' '2023-01'
 '2023-02' '2023-03' '2023-04' '2023-05' '2023-06' '2023-07' '2023-08'
 '2021-01' '2022-12']
['2020-01' '2020-02' '2020-03' '2020-04' '2020-05' '2020-06' '2020-07'
 '2020-08' '2020-09' '2020-10' '2020-11' '2020-12' '2021-01' '2021-02'
 '2021-03' '2021-04' '2021-05' '2021-06' '2021-07' '2021-08' '2021-09'
 '2021-10' '2021-11' '2021-12' '2022-01' '2022-02' '2022-03' '2022-04'
 '2022-05' '2022-06' '2022-07' '2022-08' '2022-09' '2022-10' '2022-11'
 '2022-12' '2023-01' '2023-02' '2023-03' '2023-04' '2023-05' '2023-06'
 '2023-07' '2023-08']

In [ ]:
# result_df=df.copy()
# index=0
# for i in unique_date:
#     index+=1
#     print(i+':'+df.loc[df['Date']==i, '시장'])
#     if(len(df.loc[df['Date']==i, '시장'])<5):
#         # new_row = pd.DataFrame([['i', 0.0, 0, 0.0, '추가']], columns = df.columns)
#         print(i,':',df.loc[df['Date']==i, '시장'])
#         result_df = pd.concat([df.iloc[:index], new_row, df.iloc[index:]], ignore_index = True)

# # result_df
# result_df.iloc[11:14]

NameError: name 'df' is not defined