In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc,  font_manager
import matplotlib
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
fontname = "C:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=fontname).get_name()
rc('font', family=font_name)

In [5]:
get_data = pd.read_csv('../data/TEMP/경락가격/오이/오이 월별 총거래(정제).csv', index_col=None)

In [7]:
len(get_data['Date'])

44

In [11]:
get_data.head()

,Date,서울 총거래물량,서울 총거래금액,서울 평균거래금액,부산 총거래물량,부산 총거래금액,부산 평균거래금액,대구 총거래물량,대구 총거래금액,대구 평균거래금액,대전 총거래물량,대전 총거래금액,대전 평균거래금액,광주 총거래물량,광주 총거래금액,광주 평균거래금액
0,2020-01,2720.0,3808000,1400.000000,430514.0,1513741950,3516.127118,524933.0,1848774900,3521.925465,0.0,0,0.000000,3760.0,11296800,3004.468085
1,2020-02,1340.0,3515000,2623.134328,499632.4,1480696080,2963.570977,621683.0,1826397600,2937.827800,0.0,0,0.000000,6250.0,16238900,2598.224000
2,2020-03,1300.0,1400000,1076.923077,1039380.0,1655135842,1592.426102,1336225.0,2235324800,1672.865573,1520.0,2064200,1358.026316,11010.0,21872200,1986.575840
3,2020-04,840.0,705500,839.880952,1414751.0,1578872900,1116.007623,2075460.0,2355010800,1134.693417,975.0,812500,833.333333,19990.0,26046300,1302.966483
4,2020-05,4320.0,2747000,635.879630,1493296.4,1579825300,1057.944893,2256223.0,2304184700,1021.257518,3460.0,3405100,984.132948,16270.0,15969726,981.544315

In [13]:
amount_grade = []
Glen = len(get_data['Date'])
for i in range(Glen):
    if i != Glen-1:
        A = get_data['서울 총거래물량'][i+1] - get_data['서울 총거래물량'][i]
        B = get_data['서울 총거래금액'][i+1] - get_data['서울 총거래금액'][i]
        C = get_data['서울 평균거래금액'][i+1] - get_data['서울 평균거래금액'][i]

        D = get_data['부산 총거래물량'][i+1] - get_data['부산 총거래물량'][i]
        E = get_data['부산 총거래금액'][i+1] - get_data['부산 총거래금액'][i]
        F = get_data['부산 평균거래금액'][i+1] - get_data['부산 평균거래금액'][i]

        G = get_data['대구 총거래물량'][i+1] - get_data['대구 총거래물량'][i]
        H = get_data['대구 총거래금액'][i+1] - get_data['대구 총거래금액'][i]
        I = get_data['대구 평균거래금액'][i+1] - get_data['대구 평균거래금액'][i]

        J = get_data['대전 총거래물량'][i+1] - get_data['대전 총거래물량'][i]
        K = get_data['대전 총거래금액'][i+1] - get_data['대전 총거래금액'][i]
        L = get_data['대전 평균거래금액'][i+1] - get_data['대전 평균거래금액'][i]

        M = get_data['광주 총거래물량'][i+1] - get_data['광주 총거래물량'][i]
        N = get_data['광주 총거래금액'][i+1] - get_data['광주 총거래금액'][i]
        O = get_data['광주 평균거래금액'][i+1] - get_data['광주 평균거래금액'][i]

        amount_grade.append([get_data['Date'][i+1], A, B, C, D, E, F, G, H, I, J, K, L, M, N, O])

In [16]:
df = pd.DataFrame(amount_grade, columns=['Month', 'Seoul_amount_grade', 'Seoul_allpay_grade', 'Seoul_pay_grade', 'Busan_amount_grade', 'Busan_allpay_grade', 'Busan_pay_grade', 'Daegu_amount_grade', 'Daegu_allpay_grade', 'Daegu_pay_grade', 'Daejeon_amount_grade', 'Daejeon_allpay_grade', 'Daejeon_pay_grade', 'Gwangju_amount_grade', 'Gwangju_allpay_grade', 'Gwangju_pay_grade'])

In [19]:
df.to_csv('../data/TEMP/경락가격/오이/오이 월별 거래 변화량.csv', index=False, encoding='UTF-8')