In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc,  font_manager
import matplotlib
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
fontname = "C:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=fontname).get_name()
rc('font', family=font_name)

In [2]:
get_data = pd.read_csv('../data/TEMP/경락가격/양파/양파 월별 총거래(정제).csv', index_col=None)

In [3]:
len(get_data['Date'])

44

In [4]:
get_data.head()

,Date,서울 총거래물량,서울 총거래금액,서울 평균거래금액,부산 총거래물량,부산 총거래금액,부산 평균거래금액,대구 총거래물량,대구 총거래금액,대구 평균거래금액,대전 총거래물량,대전 총거래금액,대전 평균거래금액,광주 총거래물량,광주 총거래금액,광주 평균거래금액
0,2020-01,196129.0,166768400,850.299548,1242260.0,996253350,801.968469,2276705.7,1806728300,793.571299,2946856.0,2380499400,807.809883,148872.0,115049300,772.806841
1,2020-02,161702.0,172359880,1065.910626,1262447.0,1200651900,951.051331,2582537.8,2550122300,987.448199,2820738.0,2802490210,993.530845,40260.0,31587000,784.575261
2,2020-03,174813.0,207078050,1184.568939,1199742.8,1052491300,877.264110,2244144.0,1920156900,855.629986,2691912.0,2660264800,988.243598,504657.0,402889550,798.343330
3,2020-04,10802310.0,9554894100,884.523227,356549.0,263060050,737.794945,1166191.4,916842350,786.185141,4174226.0,3602379110,863.005288,1195291.0,932517480,780.159375
4,2020-05,12249069.0,8503744300,694.235970,803859.0,467878100,582.040010,996047.7,550908400,553.094395,4766306.0,3248563300,681.568347,1391894.0,893240450,641.744594

In [5]:
amount_grade = []
Glen = len(get_data['Date'])
for i in range(Glen):
    if i != Glen-1:
        A = get_data['서울 총거래물량'][i+1] - get_data['서울 총거래물량'][i]
        B = get_data['서울 총거래금액'][i+1] - get_data['서울 총거래금액'][i]
        C = get_data['서울 평균거래금액'][i+1] - get_data['서울 평균거래금액'][i]

        D = get_data['부산 총거래물량'][i+1] - get_data['부산 총거래물량'][i]
        E = get_data['부산 총거래금액'][i+1] - get_data['부산 총거래금액'][i]
        F = get_data['부산 평균거래금액'][i+1] - get_data['부산 평균거래금액'][i]

        G = get_data['대구 총거래물량'][i+1] - get_data['대구 총거래물량'][i]
        H = get_data['대구 총거래금액'][i+1] - get_data['대구 총거래금액'][i]
        I = get_data['대구 평균거래금액'][i+1] - get_data['대구 평균거래금액'][i]

        J = get_data['대전 총거래물량'][i+1] - get_data['대전 총거래물량'][i]
        K = get_data['대전 총거래금액'][i+1] - get_data['대전 총거래금액'][i]
        L = get_data['대전 평균거래금액'][i+1] - get_data['대전 평균거래금액'][i]

        M = get_data['광주 총거래물량'][i+1] - get_data['광주 총거래물량'][i]
        N = get_data['광주 총거래금액'][i+1] - get_data['광주 총거래금액'][i]
        O = get_data['광주 평균거래금액'][i+1] - get_data['광주 평균거래금액'][i]

        amount_grade.append([get_data['Date'][i+1], A, B, C, D, E, F, G, H, I, J, K, L, M, N, O])

In [6]:
df = pd.DataFrame(amount_grade, columns=['Month', 'Seoul_amount_grade', 'Seoul_allpay_grade', 'Seoul_pay_grade', 'Busan_amount_grade', 'Busan_allpay_grade', 'Busan_pay_grade', 'Daegu_amount_grade', 'Daegu_allpay_grade', 'Daegu_pay_grade', 'Daejeon_amount_grade', 'Daejeon_allpay_grade', 'Daejeon_pay_grade', 'Gwangju_amount_grade', 'Gwangju_allpay_grade', 'Gwangju_pay_grade'])

In [7]:
df.to_csv('../data/TEMP/경락가격/양파/양파 월별 거래 변화량.csv', index=False, encoding='UTF-8')