In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc,  font_manager
import matplotlib
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
fontname = "C:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=fontname).get_name()
rc('font', family=font_name)

In [2]:
get_data = pd.read_csv('../data/TEMP/경락가격/대파/대파 월별 총거래(정제).csv', index_col=None)

In [3]:
len(get_data['Date'])

44

In [4]:
get_data.head()

,Date,서울 총거래물량,서울 총거래금액,서울 평균거래금액,부산 총거래물량,부산 총거래금액,부산 평균거래금액,대구 총거래물량,대구 총거래금액,대구 평균거래금액,대전 총거래물량,대전 총거래금액,대전 평균거래금액,광주 총거래물량,광주 총거래금액,광주 평균거래금액
0,2020-01,9462928.5,9136197340,965.472511,1572788.4,1681745720,1069.276528,766068.0,753969700,984.207277,1655844.4,1592782952,961.915837,931481.0,891210180,956.766891
1,2020-02,8754610.0,7387886850,843.885319,1647451.3,1372014542,832.810379,689616.5,560103600,812.195764,1528847.0,1236327688,808.666719,870570.0,694122450,797.319515
2,2020-03,9109415.0,6478744150,711.214074,1696068.0,1191287642,702.382005,487140.0,347683230,713.723427,1641619.0,1162323521,708.034886,884383.0,579553380,655.319449
3,2020-04,8229718.0,6756209940,820.952788,1635385.5,1165127230,712.448062,596138.0,424127350,711.458337,1355853.0,1180578684,870.727641,831719.0,610273730,733.749896
4,2020-05,7901230.0,9477792330,1199.533785,1404740.2,1513407423,1077.357523,413997.0,386009250,932.396249,1477557.0,1817564652,1230.114745,725731.0,827794130,1140.634932

In [5]:
amount_grade = []
Glen = len(get_data['Date'])
for i in range(Glen):
    if i != Glen-1:
        A = get_data['서울 총거래물량'][i+1] - get_data['서울 총거래물량'][i]
        B = get_data['서울 총거래금액'][i+1] - get_data['서울 총거래금액'][i]
        C = get_data['서울 평균거래금액'][i+1] - get_data['서울 평균거래금액'][i]

        D = get_data['부산 총거래물량'][i+1] - get_data['부산 총거래물량'][i]
        E = get_data['부산 총거래금액'][i+1] - get_data['부산 총거래금액'][i]
        F = get_data['부산 평균거래금액'][i+1] - get_data['부산 평균거래금액'][i]

        G = get_data['대구 총거래물량'][i+1] - get_data['대구 총거래물량'][i]
        H = get_data['대구 총거래금액'][i+1] - get_data['대구 총거래금액'][i]
        I = get_data['대구 평균거래금액'][i+1] - get_data['대구 평균거래금액'][i]

        J = get_data['대전 총거래물량'][i+1] - get_data['대전 총거래물량'][i]
        K = get_data['대전 총거래금액'][i+1] - get_data['대전 총거래금액'][i]
        L = get_data['대전 평균거래금액'][i+1] - get_data['대전 평균거래금액'][i]

        M = get_data['광주 총거래물량'][i+1] - get_data['광주 총거래물량'][i]
        N = get_data['광주 총거래금액'][i+1] - get_data['광주 총거래금액'][i]
        O = get_data['광주 평균거래금액'][i+1] - get_data['광주 평균거래금액'][i]

        amount_grade.append([get_data['Date'][i+1], A, B, C, D, E, F, G, H, I, J, K, L, M, N, O])

In [6]:
df = pd.DataFrame(amount_grade, columns=['Month', 'Seoul_amount_grade', 'Seoul_allpay_grade', 'Seoul_pay_grade', 'Busan_amount_grade', 'Busan_allpay_grade', 'Busan_pay_grade', 'Daegu_amount_grade', 'Daegu_allpay_grade', 'Daegu_pay_grade', 'Daejeon_amount_grade', 'Daejeon_allpay_grade', 'Daejeon_pay_grade', 'Gwangju_amount_grade', 'Gwangju_allpay_grade', 'Gwangju_pay_grade'])

In [7]:
df.to_csv('../data/TEMP/경락가격/대파/대파 월별 거래 변화량.csv', index=False, encoding='UTF-8')