In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc,  font_manager
import matplotlib
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
import statistics
matplotlib.rcParams['axes.unicode_minus'] = False
fontname = "C:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=fontname).get_name()
rc('font', family=font_name)

In [24]:
get_data = pd.read_csv('../data/TEMP/경락가격/대파/대파 월별 총거래(정제).csv', index_col=None)
# year_df = pd.read_csv('../data/TEMP/경락가격/오이/오이 년별 평균가격.csv', index_col=None)
# get_data = pd.read_csv('../data/TEMP/경락가격/오이/오이 월별 총거래(정제2).csv', index_col=None)

In [25]:
get_data['Date'] = pd.to_datetime(get_data['Date'])

In [26]:
years = get_data['Date'].dt.year.unique()

In [27]:

year_mean = []
year_addon = []
for i in years:
    for j in get_data.columns:
        if '평균' in j:
            print(get_data.loc[get_data['Date'].dt.year == i,'%s' %j][:5])
            data_p = get_data.loc[get_data['Date'].dt.year == i,'%s' %j].values
            year_addon.append(data_p.sum())
            # np_std= np.std(get_data.loc[get_data['Date'].dt.year == i,'%s' %j].values)
            # print('표준편차: ',np_std)
            # year_addon.append(np_std)
        elif j != 'Date':
            data_p = get_data.loc[get_data['Date'].dt.year == i,'%s' %j].values
            year_addon.append(data_p.sum())
        else:
            year_addon.append(i)
    year_mean.append(year_addon)
    year_addon = []

year_mean

0     965.472511
1     843.885319
2     711.214074
3     820.952788
4    1199.533785
Name: 서울 평균거래금액, dtype: float64
0    1069.276528
1     832.810379
2     702.382005
3     712.448062
4    1077.357523
Name: 부산 평균거래금액, dtype: float64
0    984.207277
1    812.195764
2    713.723427
3    711.458337
4    932.396249
Name: 대구 평균거래금액, dtype: float64
0     961.915837
1     808.666719
2     708.034886
3     870.727641
4    1230.114745
Name: 대전 평균거래금액, dtype: float64
0     956.766891
1     797.319515
2     655.319449
3     733.749896
4    1140.634932
Name: 광주 평균거래금액, dtype: float64
12    2938.940018
13    4399.246104
14    4360.824048
15    3752.581889
16    2005.212162
Name: 서울 평균거래금액, dtype: float64
12    2752.422717
13    4246.476692
14    3844.333969
15    3174.139610
16    2070.537506
Name: 부산 평균거래금액, dtype: float64
12    2346.857348
13    3692.050291
14    3841.525028
15    3202.315174
16    1738.187721
Name: 대구 평균거래금액, dtype: float64
12    3016.063768
13    4933.626204
14    4279.850471
15    3470.507179
16    1845.623533
Name: 대전 평균거래금액, dtype: float64
12    2785.326137
13    4582.555833
14    3773.579528
15    2916.488354
16    1904.515371
Name: 광주 평균거래금액, dtype: float64
24    1177.178610
25    1144.560145
26    1330.489158
27     980.697308
28    1250.424386
Name: 서울 평균거래금액, dtype: float64
24    1220.519282
25    1155.698508
26    1386.042477
27     972.779717
28    1254.096223
Name: 부산 평균거래금액, dtype: float64
24    1126.876929
25    1130.457642
26    1292.950634
27     928.674888
28    1125.891813
Name: 대구 평균거래금액, dtype: float64
24    1161.772182
25    1153.179578
26    1259.499061
27    1027.883282
28    1496.074222
Name: 대전 평균거래금액, dtype: float64
24    1263.055940
25    1253.789062
26    1393.273099
27    1066.692332
28    1423.702915
Name: 광주 평균거래금액, dtype: float64
36    1405.901441
37    1647.083688
38    1631.981353
39    1081.880530
40    1620.690196
Name: 서울 평균거래금액, dtype: float64
36    1569.976292
37    1757.744175
38    1784.230900
39    1426.810898
40    1753.624277
Name: 부산 평균거래금액, dtype: float64
36    1373.518247
37    1539.264349
38    1439.235717
39     990.292019
40    1296.869443
Name: 대구 평균거래금액, dtype: float64
36    1544.194778
37    1890.453761
38    1698.948246
39    1237.717933
40    1499.679848
Name: 대전 평균거래금액, dtype: float64
36    1635.579542
37    1800.244094
38    1778.123345
39    1174.294018
40    1551.687412
Name: 광주 평균거래금액, dtype: float64

[[2020,
  102133347.2,
  150633572610,
  17790.989503832323,
  18067182.0,
  24281553381,
  16310.366442939636,
  6257380.1,
  7872649220,
  15503.175472100029,
  16625081.7,
  24713597850,
  18393.466138651238,
  9708200.0,
  13295753030,
  16618.76136784219],
 [2021,
  90124759.10000001,
  193266147511,
  25269.183264065785,
  14958222.299999999,
  28779727380,
  23978.983963808176,
  6403804.5,
  11806980030,
  22253.27104877508,
  12702447.6,
  27112333590,
  25483.59667721798,
  7562437.0,
  14952178720,
  24446.201509711544],
 [2022,
  106258825.89999999,
  149766067380,
  16840.454391645686,
  18267256.19,
  25883720650,
  17014.703726956595,
  7054506.14,
  9394505350,
  16150.154212539144,
  15470054.5,
  22507992885,
  17610.841654067928,
  9740894.6,
  14914610540,
  18215.486768030925],
 [2023,
  67694325.5,
  99941829970,
  11903.87004787388,
  10093977.2,
  16845577630,
  13522.189200150187,
  4521141.7,
  6074726700,
  10750.2521133555,
  9964547.0,
  15550147360,
  12974.752063064861,
  6390682.0,
  10244610710,
  13275.227518385149]]

In [28]:
year_df = pd.DataFrame(year_mean, columns=['year', '서울 총거래물량', '서울 총거래금액', '서울 평균단가','부산 총거래물량', '부산 총거래금액', '부산 평균단가', '대구 총거래물량', '대구 총거래금액', '대구 평균단가', '대전 총거래물량', '대전 총거래금액', '대전 평균단가', '광주 총거래물량', '광주 총거래금액', '광주 평균단가'])

In [29]:
for i in years:
    year_df.loc[year_df['year']== i,'서울 평균단가'] = year_df['서울 총거래금액']/year_df['서울 총거래물량']
    year_df.loc[year_df['year']== i,'부산 평균단가'] = year_df['부산 총거래금액']/year_df['부산 총거래물량']
    year_df.loc[year_df['year']== i,'대구 평균단가'] = year_df['대구 총거래금액']/year_df['대구 총거래물량']
    year_df.loc[year_df['year']== i,'대전 평균단가'] = year_df['대전 총거래금액']/year_df['대전 총거래물량']
    year_df.loc[year_df['year']== i,'광주 평균단가'] = year_df['광주 총거래금액']/year_df['광주 총거래물량']

year_df

,year,서울 총거래물량,서울 총거래금액,서울 평균단가,부산 총거래물량,부산 총거래금액,부산 평균단가,대구 총거래물량,대구 총거래금액,대구 평균단가,대전 총거래물량,대전 총거래금액,대전 평균단가,광주 총거래물량,광주 총거래금액,광주 평균단가
0,2020,102133347.2,150633572610,1474.871594,18067182.00,24281553381,1343.959085,6257380.10,7872649220,1258.138245,16625081.7,24713597850,1486.524896,9708200.0,13295753030,1369.538435
1,2021,90124759.1,193266147511,2144.429005,14958222.30,28779727380,1924.007198,6403804.50,11806980030,1843.744610,12702447.6,27112333590,2134.418062,7562437.0,14952178720,1977.164070
2,2022,106258825.9,149766067380,1409.445908,18267256.19,25883720650,1416.946277,7054506.14,9394505350,1331.702768,15470054.5,22507992885,1454.939469,9740894.6,14914610540,1531.133551
3,2023,67694325.5,99941829970,1476.369389,10093977.20,16845577630,1668.874151,4521141.70,6074726700,1343.626699,9964547.0,15550147360,1560.547345,6390682.0,10244610710,1603.054370

In [30]:
get_data = get_data.rename(columns={'서울 평균거래금액':'서울 평균단가', '부산 평균거래금액':'부산 평균단가', '대구 평균거래금액':'대구 평균단가', '대전 평균거래금액':'대전 평균단가', '광주 평균거래금액':'광주 평균단가'})

In [31]:
year_df['전국 평균단가'] = (year_df['서울 총거래금액'] + year_df['부산 총거래금액'] + year_df['대구 총거래금액'] + year_df['대전 총거래금액'] + year_df['광주 총거래금액']) / (year_df['서울 총거래물량'] + year_df['부산 총거래물량'] + year_df['대구 총거래물량'] + year_df['대전 총거래물량'] + year_df['광주 총거래물량'])

In [32]:
year_df.to_csv('../data/TEMP/경락가격/대파/대파 년별 평균가격.csv', index=False, encoding='UTF-8')

In [33]:
year_df

,year,서울 총거래물량,서울 총거래금액,서울 평균단가,부산 총거래물량,부산 총거래금액,부산 평균단가,대구 총거래물량,대구 총거래금액,대구 평균단가,대전 총거래물량,대전 총거래금액,대전 평균단가,광주 총거래물량,광주 총거래금액,광주 평균단가,전국 평균단가
0,2020,102133347.2,150633572610,1474.871594,18067182.00,24281553381,1343.959085,6257380.10,7872649220,1258.138245,16625081.7,24713597850,1486.524896,9708200.0,13295753030,1369.538435,1445.090680
1,2021,90124759.1,193266147511,2144.429005,14958222.30,28779727380,1924.007198,6403804.50,11806980030,1843.744610,12702447.6,27112333590,2134.418062,7562437.0,14952178720,1977.164070,2094.222913
2,2022,106258825.9,149766067380,1409.445908,18267256.19,25883720650,1416.946277,7054506.14,9394505350,1331.702768,15470054.5,22507992885,1454.939469,9740894.6,14914610540,1531.133551,1418.870563
3,2023,67694325.5,99941829970,1476.369389,10093977.20,16845577630,1668.874151,4521141.70,6074726700,1343.626699,9964547.0,15550147360,1560.547345,6390682.0,10244610710,1603.054370,1506.688131

In [34]:
years = get_data['Date'].dt.year.unique()
months = get_data['Date'].dt.month.unique()
grade_data = []
for i in years:
    for j in months:
        if ( i != 2023 ) or ( j not in [9, 10, 11, 12]):
            g_date = str(i)+"-"+str(j)
            seoul_data = year_df.loc[year_df['year']==i, '서울 평균단가'].values
            seoul_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '서울 평균단가'].values
            seoul_grade = seoul_data - seoul_data1

            busan_data = year_df.loc[year_df['year']==i, '부산 평균단가'].values
            busan_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '부산 평균단가'].values
            busan_grade = busan_data - busan_data1

            daegu_data = year_df.loc[year_df['year']==i, '대구 평균단가'].values
            daegu_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '대구 평균단가'].values
            daegu_grade = daegu_data - daegu_data1

            daejeon_data = year_df.loc[year_df['year']==i, '대전 평균단가'].values
            daejeon_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '광주 평균단가'].values
            daejeon_grade = daejeon_data - daejeon_data1

            gwangju_data = year_df.loc[year_df['year']==i, '광주 평균단가'].values
            gwangju_data1 = get_data.loc[(get_data['Date'].dt.month == j) & (get_data['Date'].dt.year==i), '광주 평균단가'].values
            gwangju_grade = gwangju_data - gwangju_data1
            print(len(gwangju_grade))
            grade_data.append([g_date,seoul_grade[0], busan_grade[0], daegu_grade[0], daejeon_grade[0], gwangju_grade[0]])
print(grade_data)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
[['2020-1', 509.39908327326816, 274.68255630863405, 273.93096879095754, 529.7580057203666, 412.7715439439412], ['2020-2', 630.9862755342981, 511.14870526244147, 445.9424815521255, 689.2053814950499, 572.2189197186245], ['2020-3', 763.6575206695362, 641.5770798125134, 544.4148188992241, 831.2054475953043, 714.218985818879], ['2020-4', 653.9188058219185, 631.5110226033198, 546.679908601535, 752.7749999965871, 635.7885382201617], ['2020-5', 275.33780899457656, 266.6015610668728, 325.7419961814021, 345.8899640687432, 228.90350229231785], ['2020-6', 150.02077912338427, 166.41385371278238, 198.5128938024459, 142.54420862572488, 25.55774684929952], ['2020-7', 169.3271859782899, 207.33403238531378, 189.2717359157166, 339.11909954739235, 222.132637770967], ['2020-8', -615.1620613868472, -299.4998836159241, -411.0267234477492, -97.93286084489546, -214.91932262132082], ['2020-9', -794.0243305684758, -692.4573005139364, -735.1893944769026, -496.8249805626699, -613.8114423390953], ['2020-10', -867.7094517805099, -703.4257854985799, -750.1589997348535, -737.9099013314483, -854.8963631078736], ['2020-11', -797.4456230334981, -740.0197042463494, -636.3409398482427, -798.3411165462046, -915.32757832263], ['2020-12', -170.83636557021123, -446.72356569525664, -397.29527318067016, -279.9508600577665, -396.93732183419183], ['2021-1', -794.5110121936359, -828.4155187611784, -503.1127383438152, -650.9080754240972, -808.162067239638], ['2021-2', -2254.8170986186256, -2322.4694937025843, -1848.3056814002553, -2448.137770558589, -2605.39176237413], ['2021-3', -2216.395042694397, -1920.326770948085, -1997.780417596834, -1639.1614654275422, -1796.415457243083], ['2021-4', -1608.1528840123306, -1250.1324118702003, -1358.570563593214, -782.0702916633768, -939.3242834789176], ['2021-5', 139.21684319776705, -146.53030758591126, 105.55688869229152, 229.9026913055086, 72.64869948996784], ['2021-6', 1257.296520319719, 979.072434387996, 891.18836206334, 1104.215312189281, 946.9613203737401], ['2021-7', 1376.5190570524749, 1127.8484398748506, 1108.0550014955065, 1243.166394972213, 1085.9124031566723], ['2021-8', 1015.2619763069126, 850.8276545198369, 763.968016296456, 897.7105031298349, 740.4565113142942], ['2021-9', 803.1317040478641, 579.4759270139896, 586.6343351797791, 733.8095532880027, 576.5555614724619], ['2021-10', 927.3643825908453, 700.1827014967892, 699.0302725166989, 803.3639332869147, 646.109941471374], ['2021-11', 773.3336158888449, 584.7051630959977, 673.0605110436479, 718.7474378968861, 561.4934460813454], ['2021-12', 1045.716737819856, 754.864599095356, 751.9402841803346, 956.1770121922546, 798.9230203767138], ['2022-1', 232.26729840938356, 196.42699522805538, 204.8258387524893, 191.88352926361927, 268.077611038246], ['2022-2', 264.8857635383881, 261.2477691911374, 201.24512515185347, 201.1504075467301, 277.34448932135683], ['2022-3', 78.95675011914591, 30.903800503973798, 38.75213395263722, 61.66636992000463, 137.86045169463137], ['2022-4', 428.7486000472268, 444.1665597616899, 403.02787917162277, 388.24713725293304, 464.4412190275598], ['2022-5', 159.02152210271106, 162.8500537616428, 205.81095463680754, 31.23655444600263, 107.43063622062937], ['2022-6', 38.10387785136595, 99.6550039265203, 15.117068531531459, -64.47572576889979, 11.718356005726946], ['2022-7', -134.82139474741462, -116.71226729870546, -36.090352441487084, -124.08554083581453, -47.89145906118779], ['2022-8', -233.7716827582683, -426.48088437435626, -320.4388576310962, -429.353233843887, -353.15915206926024], ['2022-9', -227.6433800209445, -356.6729532586737, -448.9423316578725, -275.0431145120551, -198.8490327374284], ['2022-10', -191.54668843760942, -214.990453019587, -251.13364297290173, -392.12026207533745, -315.9261803007107], ['2022-11', -111.64753510064406, -12.132328463853582, -36.08777515270549, -173.68668294159716, -97.49260116697042], ['2022-12', -229.65662367207847, -79.60969853717756, -145.80704285236652, -171.6325743179782, -95.43849254335146], ['2023-1', 70.4679482345598, 98.89785929717004, -29.891547446856748, -75.03219784454632, -32.525171935085154], ['2023-2', -170.714298826226, -88.87002350987677, -195.6376496683838, -239.69674993636363, -197.18972402690247], ['2023-3', -155.61196390892292, -115.35674889792199, -95.60901763496008, -217.57600092757298, -175.06897501811181], ['2023-4', 394.4888585074591, 242.0632533585308, 353.33468083020296, 386.2533269465014, 428.76035285596254], ['2023-5', -144.32080760500753, -84.75012608907605, 46.75725690064519, 8.859932173397283, 51.366958082858446], ['2023-6', 96.374828707696, 180.71294527091095, 156.00494816045034, 117.74388748025399, 160.25091338971515], ['2023-7', -30.554896242523455, -186.03037172773247, 15.382325481340558, -76.00640633875514, -33.49938042929398], ['2023-8', -153.0446055920495, -217.86277974389645, -251.57951458454545, -695.3945539344033, -652.8875280249422]]

In [35]:
mean_data = pd.DataFrame(grade_data, columns=['Date','서울 평균단가 편차', '부산 평균단가 편차', '대구 평균단가 편차', '대전 평균단가 편차', '광주 평균단가 편차'])

In [36]:
mean_data['Date'] = pd.to_datetime(mean_data['Date'])

In [37]:
mean_all = pd.merge(get_data, mean_data, on='Date', how='inner')

In [38]:
mean_all = mean_all[['Date', '서울 총거래물량', '서울 총거래금액', '서울 평균단가', '서울 평균단가 편차','부산 총거래물량', '부산 총거래금액', '부산 평균단가', '부산 평균단가 편차', '대구 총거래물량', '대구 총거래금액', '대구 평균단가', '대구 평균단가 편차','대전 총거래물량', '대전 총거래금액', '대전 평균단가', '대전 평균단가 편차', '광주 총거래물량', '광주 총거래금액', '광주 평균단가', '광주 평균단가 편차']]

In [ ]:
mean_all['전국 평균단가'] = (mean_all['서울 총거래금액'] + mean_all['부산 총거래금액'] + mean_all['대구 총거래금액'] + mean_all['대전 총거래금액'] + mean_all['광주 총거래금액']) / (mean_all['서울 총거래물량'] + mean_all['부산 총거래물량'] + mean_all['대구 총거래물량'] + mean_all['대전 총거래물량'] + mean_all['광주 총거래물량'])

In [39]:
mean_all.to_csv('../data/TEMP/경락가격/대파/대파 월별 데이터와 평균편차.csv', index=False, encoding='UTF-8')